@import url("./index/header.css");
@import url("./index/main.css");
@import url("./photographerPage/photographer.css");

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "DM Sans", sans-serif;
}
input,
textarea {
  font-family: "DM Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.close {
  display: none;
}
